.window[data-id="Microsoft Edge1"], .window[data-id="Visual Studio Code1"] {
  min-width: 70vw;
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
}
.window[data-id="Microsoft Edge1"] .windowBody, .window[data-id="Visual Studio Code1"] .windowBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.window[data-id="Microsoft Edge1"] .windowBody iframe, .window[data-id="Visual Studio Code1"] .windowBody iframe{
  border: none;
  height: 100% !important;
  width: 100% !important;
}
